
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Environment Variables
.env
.ebextensions/environment.config
credentials.json

# Jetbrains
.idea/