packages:
    yum:
      git: []
      postgresql-devel: []

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MusicBackend.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "MusicBackend/wsgi.py"

container_commands:
  01_install_torch:
    command: "pip install torch==1.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html"
    leader_only: true
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"