container_commands:
  01_torch:
    command: "pip3 install torch==1.7.0+cpu --no-cache-dir -f https://download.pytorch.org/whl/torch_stable.html"
  02_migrate:
    command: "python3 manage.py migrate"
    leader_only: true
  03_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
  04_change_cred_folder_permissions:
    command: "mkdir -p /opt/python/current/app/cred; chmod 777 -R /opt/python/current/app/cred"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MusicBackend.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "MusicBackend/wsgi.py"

packages:
  yum:
      git: []
      postgresql95-devel: []